{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    {% if not error %}
        <title>{{ person.full_name }}</title>
    {% else %}
        <title>Проект з СУБД</title>
    {% endif %}
{% endblock %}

{% block baseContent %}
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            color: #222;
        }

        a {
            color: currentColor;
            text-decoration: none;
        }

        p {
            font-size: 13px;
        }

        .card-outmore:hover {
            background: #2C3E50;
            color: #fff;
        }

        div:hover .thecard {
            box-shadow: 0 10px 50px rgba(0,0,0,.6);
        }

        .thecard {
            width: 500px;
            margin: 5% auto;
            box-shadow: 0 1px 30px rgba(0,0,0,.4);
            display: block;
            background-color: #fff;
            border-radius: 4px;
            transition: 400ms ease;
        }

        .card-img {
            height: 300px;
        }

        .card-img img {
            width:100%;
            border-radius: 4px 4px 0px 0px;
        }

        .card-caption {
            position: relative;
            background: #ffffff;
            padding: 15px 25px 5px 25px;
            border-radius: 0px 0px 4px 4px;
        }

        .card-outmore {
            padding: 10px 25px 10px 25px;
            border-radius: 0px 0px 4px 4px;
            border-top: 1px solid #e0e0e0;
            background: #efefef;
            color: #222;
            display: inline-table;
            width: 100%;
            box-sizing: border-box;
            transition: 400ms ease;
        }
        .card-outmore h5 {
            float: left;
        }
        .card-outmore i {
            float: right;
        }

        span.date {
            font-size: 10px;
        }

        .card-caption h1 {
            font-size: 22px;
            margin-top: 2px;
        }

        .card-caption h5 {
            margin:0;
        }

        #like-btn {
            font-size: 18px;
            background: #446CB3;
            color: #fff;
            padding: 13px 15px;
            border-radius: 50em;
            position: absolute;
            right: 20px;
            top: -22px;
            box-shadow: 0 2px 1px rgba(0,0,0,.2);
            transition: 400ms ease;
            cursor: pointer;
        }

        #like-btn:hover {
            font-size: 18px;
            background: #3B5998;
            color: #fff;
            padding: 13px 15px;
            border-radius: 50em;
            position: absolute;
            right: 20px;
            top: -22px;
            box-shadow: 0 4px 5px rgba(0,0,0,.3);
        }

        #outmore-icon {
            border: 1px solid;
            margin-top: 5px;
            padding: 3px 10px;
            border-radius: 50em;
        }

        .error-message{
            text-align: center;
            margin: 5%;
        }

    </style>
    <div class="row">
        {% if not error %}
            <div class="col-md-12">
                <div class="thecard">
                    <div class="card-img">
                        <img src="{{ person.img_url }}">
                    </div>
                    <div class="card-caption">
                        <i id="like-btn" class="fa fa-thumbs-o-up"></i>
                        <h1>{{ person.full_name }}</h1>
                        <p class="date"><b>Дата народження :</b> {{ person.birthday }}</p>
                        <p class="address"><b>Адреса :</b> Місто Чернівці вулиця {{ person.residence_street }}</p>
                        <p class="phone_number"><b>Номер телефону :</b> {{ person.phone_number }}</p>
                        <p class="salary"><b>Зарплата :</b> {{ person.salary }} грн.</p>
                        <p class="premium"><b>Премія :</b> {{ person.premium }} грн.</p>
                    </div>
                    <a class="card-outmore" href="/">
                        <h5>Повернутись до пошку</h5>
                        <i id="outmore-icon" class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        {% else %}
            <h2 class="error-message">{{ error }}</h2>
        {% endif %}
    </div>

{% endblock %}